.colorMix {
  width: 800px;
  height: 200px;
  display: flex;

}

.colorMixContent {
  display: flex;
  /* padding: 20px; */
  width: 400px;
  justify-content: space-between;
}

.baseColor {
  margin-right: 20px;
}

.mixColor {
  width: 20px;
  height: 100%;
}

.baseColorItem {
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.baseColorItem:last-of-type {
  margin-bottom: 0px;
}